body {
  background: url("../images/water-color-background.png") no-repeat center center fixed;
  background-size: cover;
}
h1 {
  color: teal;
  font-weight: 300px;
}

.navbar-light .navbar-brand {
  color: white;
  background-color: teal;
}
.navbar-light .navbar-nav .nav-link li {
  color: lightgrey;
}

.container {
  margin-top: 50px;
}
.container .jumbotron {
  background-color: white;
}
footer {
  text-align: center;
  border-top: teal solid 5px;
  background-color: lightgrey;
  color: rgb(29, 25, 25);
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  position: sticky;
}
